<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-click="goToQuestionListPage()"><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
</div>
<br><br>
<br>
<div class="col-sm-12">
    <div class="panel profile-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Create Question</h3>
        </div>
        <div class="panel-body">
            <form name="editQuestion.form" class="form-horizontal" ng-submit="updateQuestion(editQuestion.form.$valid)"
                  novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h6 class="note-text">Note: * Fields are Mandatory</h6>
                        Question<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.questionDesc.$invalid && (editQuestion.form.questionDesc.$dirty || editQuestion.form.$submitted)}">
                            <input class="form-control" name="questionDesc"
                                   ng-model="questionInfo.questionDesc" ui-validate="'isValidName($value)'"
                                   minlength="2"
                                   maxlength="40" required>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Subject Question Type<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.questionType.$invalid && (editQuestion.form.questionType.$dirty || editQuestion.form.$submitted)}">
                            <select class="form-control" ng-model="questionInfo.questionType"
                                    id="questionType" name="questionType"
                                    ng-options="g.id as g.text for g in QuestionTypeOptions" required>
                                <option value="">Select Question Type</option>
                            </select>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Enter Options<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.answerOption.$invalid && (editQuestion.form.answerOption.$dirty || editQuestion.form.$submitted)}">
                            <table>
                                <tr ng-repeat="option in editQuestion.info.answerOption track by $index">
                                    <td class="col-md-4"><input type="text" class="form-control " style="margin-left: -15px;margin-bottom: 8px"
                                                                ng-model="editQuestion.info.answerOption[$index].answerDesc"
                                                                placeholder="Enter Value"></td>
                                    <td class="col-md-4"><input type="number" class="form-control"
                                                                ng-model="editQuestion.info.answerOption[$index].rating"
                                                                placeholder="Enter Rating"></td>
                                    <td class="col-md-2"><input type="button" class="form-control"
                                                                ng-click="addRow($index)" value="Add" ng-show="$last">
                                    </td>
                                    <td class="col-md-2 "><input type="button" class="form-control"
                                                                 ng-click="deleteRow($event,$index)" value="Delete"
                                                                 ng-show="$index != 0"></td>
                                </tr>
                            </table>
                            <span>{{editQuestion.info.answerOption|json}}</span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Parent Question<span class="optional-text">  (optional)</span>
                        <select class="form-control" ng-model="selected.parentQuestion" class="form-control"
                                name="parentQuestionId"
                                ng-options="item as item.questionDesc for item in questionListsData" ng-change="clearForm()">
                            <option value="">Select Parent Question</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Parent Answer<span class="optional-text">  (optional)</span>
                        <select class="form-control" ng-model="editQuestion.form.parentAnswerId" class="form-control"
                                name="parentAnswerId"
                                ng-options="item as item.answerDesc for item in questionInfo.options" required>
                            <option value="">Select Parent Answer</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Answer Symbol<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.answerSymbol.$invalid && (editQuestion.form.answerSymbol.$dirty || editQuestion.form.$submitted)}">
                            <select class="form-control" ng-model="questionInfo.answerSymbol"
                                    id="answerSymbol" name="answerSymbol"
                                    ng-options="a.id as a.text for a in SymbolTypeOptions" required>
                                <option value="">Select Answer Symbol Type</option>
                            </select>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary " ng-hide="dataLoading"
                                ng-disabled="editQuestion.form.$invalid">Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
