<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-click="goToQuestionListPage()"><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
</div>
<br><br>
<br>
<div class="col-sm-12">
    <div class="panel profile-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Create Question</h3>
        </div>
        <div class="panel-body">
            <form name="editQuestion.form" class="form-horizontal" ng-submit="updateQuestion(editQuestion.form.$valid)"
                  novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h6 class="note-text">Note: * Fields are Mandatory</h6>
                        Question<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.questionDesc.$invalid && (editQuestion.form.questionDesc.$dirty || editQuestion.form.$submitted)}">
                            <input class="form-control" name="questionDesc"
                                   ng-model="questionInfo.questionDesc" ui-validate="'isValidName($value)'"
                                   minlength="2"
                                   maxlength="40" required>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Subject Question Type<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.questionType.$invalid && (editQuestion.form.questionType.$dirty || editQuestion.form.$submitted)}">
                            <select class="form-control" ng-model="questionInfo.questionType"
                                    id="questionType" name="questionType"
                                    ng-options="g.id as g.text for g in QuestionTypeOptions" required>
                                <option value="">Select Question Type</option>
                            </select>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Parent Question<span class="optional-text">  (optional)</span>
                        <select class="form-control" ng-model="selected.parentQuestionId" class="form-control"
                                name="parentQuestionId"
                                ng-options="item as item.questionDesc for item in questionListsData" ng-change="clearForm()"
                                required>
                            <option value="">Select Parent Question</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Parent Answer<span class="optional-text">  (optional)</span>
                        <input class="form-control" name="parentAnswerId"
                               ng-model="questionInfo.parentAnswerId" minlength="2"
                               maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        Answer Symbol<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.answerSymbol.$invalid && (editQuestion.form.answerSymbol.$dirty || editQuestion.form.$submitted)}">
                            <select class="form-control" ng-model="questionInfo.answerSymbol"
                                    id="answerSymbol" name="answerSymbol"
                                    ng-options="a.id as a.text for a in SymbolTypeOptions" required>
                                <option value="">Select Answer Symbol Type</option>
                            </select>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary " ng-hide="dataLoading"
                                ng-disabled="editQuestion.form.$invalid">Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
